@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.navbar{
  @apply bg-red-500 p-4;
}

.navbar-content{
  @apply flex justify-around ;
}

.navbar-content span{
  @apply text-white text-lg uppercase;
}

.navbar-link{
  @apply text-white text-lg uppercase hover:text-yellow-500 hover:underline;
}

.header{
  @apply flex flex-wrap justify-center items-center;
}

.header h1{
  @apply text-4xl font-bold ;
  font-family: "Tektur", sans-serif;
  font-weight: 900;
}

  
